In [6]:
import pandas
from IPython.display import display
import torch
import torch.nn as nn
import numpy

In [7]:
#원 핫 인코딩 함수
def one_hot_function(df : pandas.DataFrame, cols : list) :
    for c in cols :        
        onehot = pandas.get_dummies(df[c], c)
        df = df.join(onehot)
        df = df.drop(c, axis = 1)
    return df;

#이상치 제거 함수
def del_anomaly_func(df : pandas.DataFrame, cols : list, factor : float = 2) :
    for c in cols :
        min_lim = df[c].mean() - df[c].std() * factor
        max_lim = df[c].mean() + df[c].std() * factor
        df = df[(df[c] > min_lim) & (df[c] < max_lim)]
    return df;

#정규화 함수
def normalize_func(df : pandas.DataFrame, cols : list, origin_df : pandas.DataFrame = None) :
    if origin_df is None :
        for c in cols :
            df[c] = (df[c] - df[c].min()) / (df[c].max() - df[c].min())
    else :
        for c in cols :
            df[c] = (df[c] - origin_df[c].min()) / (origin_df[c].max() - origin_df[c].min())
    return df;
        
origin_df = pandas.read_csv("train.csv", encoding = "UTF-8", index_col= 0)
df = origin_df[["Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]]

#원 핫 인코딩
df = one_hot_function(df, ["Sex", "Pclass"])

#결측치 치환
df = df.fillna(df.mean())

#이상치 제거
df = del_anomaly_func(df, ["Age","Fare"], 2)

#정규화
df = normalize_func(df, ["Age","Fare"])

display(origin_df)
display(df)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

,Survived,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,
1,0,0.349515,1,0,0.060417,False,True,False,False,True
2,1,0.660194,1,0,0.594027,True,False,True,False,False
3,1,0.427184,0,0,0.066042,True,False,False,False,True
4,1,0.601942,1,0,0.442500,True,False,True,False,False
5,0,0.601942,0,0,0.067083,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
887,0,0.446602,0,0,0.108333,False,True,False,True,False
888,1,0.291262,0,0,0.250000,True,False,True,False,False
889,0,0.499012,1,2,0.195417,True,False,False,False,True
890,1,0.427184,0,0,0.250000,False,True,True,False,False
891,0,0.543689,0,0,0.064583,False,True,False,False,True

In [9]:
x = df.iloc[:,1:]
t = df["Survived"]

tensor_x = torch.tensor(x.values.tolist(), dtype = torch.float)
tensor_t = torch.tensor(t.values.tolist(), dtype = torch.float)

input_len = len(tensor_x[0])
hidden_len = [8, 4]
output_len = 2

F = nn.Sequential(
    nn.Linear(input_len, hidden_len[0]),
    nn.Sigmoid(),
    nn.Linear(hidden_len[0], hidden_len[1]),
    nn.Sigmoid(),
    nn.Linear(hidden_len[1], output_len),
    nn.Sigmoid(),
    nn.LogSoftmax(dim = 0)
)
loss_func = nn.CrossEntropyLoss();
optimizer = torch.optim.SGD(F.parameters(), lr = 0.5)
epoch = 200

for i in range(epoch) :
    tot_loss = 0
    for j in range(len(tensor_x)) :
        tensor_y = F(tensor_x[j])
        optimizer.zero_grad()
        loss = loss_func(tensor_y, tensor_t[j].type(torch.long))
        loss.backward()
        optimizer.step()

        tot_loss += loss

    print("epoch {} - loss {}".format(i, tot_loss/len(tensor_x)))

epoch 0 - loss 0.6567715406417847
epoch 1 - loss 0.6284425854682922
epoch 2 - loss 0.5206999182701111
epoch 3 - loss 0.510297954082489
epoch 4 - loss 0.5097793340682983
epoch 5 - loss 0.5074911117553711
epoch 6 - loss 0.5033590793609619
epoch 7 - loss 0.5008605122566223
epoch 8 - loss 0.4996086359024048
epoch 9 - loss 0.4985460638999939
epoch 10 - loss 0.4975040853023529
epoch 11 - loss 0.4964461028575897
epoch 12 - loss 0.495372474193573
epoch 13 - loss 0.49432095885276794
epoch 14 - loss 0.4933411478996277
epoch 15 - loss 0.49245908856391907
epoch 16 - loss 0.49166053533554077
epoch 17 - loss 0.49093109369277954
epoch 18 - loss 0.4902629554271698
epoch 19 - loss 0.4896547198295593
epoch 20 - loss 0.4891040325164795
epoch 21 - loss 0.4886089861392975
epoch 22 - loss 0.48816147446632385
epoch 23 - loss 0.48775383830070496
epoch 24 - loss 0.4873802363872528
epoch 25 - loss 0.4870390295982361
epoch 26 - loss 0.4867287874221802
epoch 27 - loss 0.48644644021987915
epoch 28 - loss 0.48618778586387634
epoch 29 - loss 0.485948383808136
epoch 30 - loss 0.4857241213321686
epoch 31 - loss 0.4855089783668518
epoch 32 - loss 0.4852946698665619
epoch 33 - loss 0.4850676953792572
epoch 34 - loss 0.4848378300666809
epoch 35 - loss 0.4846460521221161
epoch 36 - loss 0.4844977557659149
epoch 37 - loss 0.4843812584877014
epoch 38 - loss 0.48428717255592346
epoch 39 - loss 0.48421451449394226
epoch 40 - loss 0.4841570556163788
epoch 41 - loss 0.4841083586215973
epoch 42 - loss 0.48406583070755005
epoch 43 - loss 0.48402708768844604
epoch 44 - loss 0.48399168252944946
epoch 45 - loss 0.4839581549167633
epoch 46 - loss 0.4839259684085846
epoch 47 - loss 0.4838946759700775
epoch 48 - loss 0.4838631749153137
epoch 49 - loss 0.48383083939552307
epoch 50 - loss 0.48379775881767273
epoch 51 - loss 0.48376408219337463
epoch 52 - loss 0.48372843861579895
epoch 53 - loss 0.48369142413139343
epoch 54 - loss 0.4836527407169342
epoch 55 - loss 0.4836113154888153
epoch 56 - loss 0.48356950283050537
epoch 57 - loss 0.48352566361427307
epoch 58 - loss 0.4834810495376587
epoch 59 - loss 0.48343437910079956
epoch 60 - loss 0.48338690400123596
epoch 61 - loss 0.483338862657547
epoch 62 - loss 0.48329001665115356
epoch 63 - loss 0.48324066400527954
epoch 64 - loss 0.4831903874874115
epoch 65 - loss 0.4831402897834778
epoch 66 - loss 0.48309004306793213
epoch 67 - loss 0.48303985595703125
epoch 68 - loss 0.482990026473999
epoch 69 - loss 0.482941210269928
epoch 70 - loss 0.482893168926239
epoch 71 - loss 0.48284441232681274
epoch 72 - loss 0.4827975630760193
epoch 73 - loss 0.48275238275527954
epoch 74 - loss 0.48270726203918457
epoch 75 - loss 0.48266395926475525
epoch 76 - loss 0.48262202739715576
epoch 77 - loss 0.48258107900619507
epoch 78 - loss 0.48254162073135376
epoch 79 - loss 0.48250359296798706
epoch 80 - loss 0.48246675729751587
epoch 81 - loss 0.48243045806884766
epoch 82 - loss 0.48239555954933167
epoch 83 - loss 0.48236098885536194
epoch 84 - loss 0.48232629895210266
epoch 85 - loss 0.4822919964790344
epoch 86 - loss 0.48225802183151245
epoch 87 - loss 0.4822239279747009
epoch 88 - loss 0.48219138383865356
epoch 89 - loss 0.48215851187705994
epoch 90 - loss 0.4821264147758484
epoch 91 - loss 0.48209479451179504
epoch 92 - loss 0.48206374049186707
epoch 93 - loss 0.48203346133232117
epoch 94 - loss 0.4820030927658081
epoch 95 - loss 0.4819740951061249
epoch 96 - loss 0.481945276260376
epoch 97 - loss 0.48191720247268677
epoch 98 - loss 0.48189038038253784
epoch 99 - loss 0.48186370730400085
epoch 100 - loss 0.4818364083766937
epoch 101 - loss 0.4817998707294464
epoch 102 - loss 0.4817250072956085
epoch 103 - loss 0.48171865940093994
epoch 104 - loss 0.4824203550815582
epoch 105 - loss 0.4827020764350891
epoch 106 - loss 0.4864269495010376
epoch 107 - loss 0.4848671853542328
epoch 108 - loss 0.48208296298980713
epoch 109 - loss 0.4816718101501465
epoch 110 - loss 0.48183324933052063
epoch 111 - loss 0.4814416468143463
epoch 112 - loss 0.48161637783050537
epoch 113 - loss 0.4815000891685486
epoch 114 - loss 0.48159390687942505
epoch 115 - loss 0.48130249977111816
epoch 116 - loss 0.4806983768939972
epoch 117 - loss 0.4811539053916931
epoch 118 - loss 0.4809150993824005
epoch 119 - loss 0.48055753111839294
epoch 120 - loss 0.4804362952709198
epoch 121 - loss 0.48042094707489014
epoch 122 - loss 0.4803900420665741
epoch 123 - loss 0.48044419288635254
epoch 124 - loss 0.4807497262954712
epoch 125 - loss 0.4807244539260864
epoch 126 - loss 0.4806937873363495
epoch 127 - loss 0.4805232584476471
epoch 128 - loss 0.48022833466529846
epoch 129 - loss 0.4798233211040497
epoch 130 - loss 0.4797704517841339
epoch 131 - loss 0.47967877984046936
epoch 132 - loss 0.4796515703201294
epoch 133 - loss 0.4797564148902893
epoch 134 - loss 0.48053714632987976
epoch 135 - loss 0.48012158274650574
epoch 136 - loss 0.48005977272987366
epoch 137 - loss 0.4805237650871277
epoch 138 - loss 0.47973766922950745
epoch 139 - loss 0.4792976677417755
epoch 140 - loss 0.47924289107322693
epoch 141 - loss 0.47919562458992004
epoch 142 - loss 0.4793161153793335
epoch 143 - loss 0.47956347465515137
epoch 144 - loss 0.47974255681037903
epoch 145 - loss 0.4798682928085327
epoch 146 - loss 0.4802883565425873
epoch 147 - loss 0.4793247580528259
epoch 148 - loss 0.4790482819080353
epoch 149 - loss 0.47885262966156006
epoch 150 - loss 0.4787869155406952
epoch 151 - loss 0.47887495160102844
epoch 152 - loss 0.4792463183403015
epoch 153 - loss 0.4786527752876282
epoch 154 - loss 0.47852635383605957
epoch 155 - loss 0.47872599959373474
epoch 156 - loss 0.47842735052108765
epoch 157 - loss 0.4782271981239319
epoch 158 - loss 0.4784844219684601
epoch 159 - loss 0.48113662004470825
epoch 160 - loss 0.48194608092308044
epoch 161 - loss 0.4794088304042816
epoch 162 - loss 0.47879546880722046
epoch 163 - loss 0.47881245613098145
epoch 164 - loss 0.4790092706680298
epoch 165 - loss 0.477906197309494
epoch 166 - loss 0.4775412678718567
epoch 167 - loss 0.4774799346923828
epoch 168 - loss 0.47747448086738586
epoch 169 - loss 0.47750014066696167
epoch 170 - loss 0.47756364941596985
epoch 171 - loss 0.4781287610530853
epoch 172 - loss 0.48262539505958557
epoch 173 - loss 0.4786655306816101
epoch 174 - loss 0.477313369512558
epoch 175 - loss 0.4769743084907532
epoch 176 - loss 0.4768482446670532
epoch 177 - loss 0.476767897605896
epoch 178 - loss 0.4767218828201294
epoch 179 - loss 0.4766910970211029
epoch 180 - loss 0.4766940176486969
epoch 181 - loss 0.4770263433456421
epoch 182 - loss 0.49082496762275696
epoch 183 - loss 0.47922608256340027
epoch 184 - loss 0.4783998131752014
epoch 185 - loss 0.4771493375301361
epoch 186 - loss 0.476592093706131
epoch 187 - loss 0.4764106869697571
epoch 188 - loss 0.47632160782814026
epoch 189 - loss 0.4762490391731262
epoch 190 - loss 0.4761861264705658
epoch 191 - loss 0.4761464297771454
epoch 192 - loss 0.4760790467262268
epoch 193 - loss 0.47603747248649597
epoch 194 - loss 0.47604426741600037
epoch 195 - loss 0.47624826431274414
epoch 196 - loss 0.4785926342010498
epoch 197 - loss 0.48379582166671753
epoch 198 - loss 0.4803912043571472
epoch 199 - loss 0.47617027163505554

In [3]:
F = torch.load("titanic.pt", weights_only= False)

In [10]:
validation1 = pandas.read_csv("test.csv", encoding = "UTF-8", index_col= 0)
validation2 = pandas.read_csv("gender_submission.csv", encoding = "UTF-8", index_col = 0)

validation = validation2.join(validation1)
validation = validation[["Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]]

#원 핫 인코딩
validation = one_hot_function(validation, ["Sex", "Pclass"])

#결측지 치환
validation = validation.fillna(validation.mean())

#정규화
validation = normalize_func(validation, ["Age", "Fare"])

display(validation)

,Survived,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,
892,0,0.452723,0,0,0.015282,False,True,False,False,True
893,1,0.617566,1,0,0.013663,True,False,False,False,True
894,0,0.815377,0,0,0.018909,False,True,False,True,False
895,0,0.353818,0,0,0.016908,False,True,False,False,True
896,1,0.287881,1,1,0.023984,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
1305,0,0.396975,0,0,0.015713,False,True,False,False,True
1306,1,0.512066,0,0,0.212559,True,False,True,False,False
1307,0,0.505473,0,0,0.014151,False,True,False,False,True
1308,0,0.396975,0,0,0.015713,False,True,False,False,True
1309,0,0.396975,1,1,0.043640,False,True,False,False,True

In [12]:
x = validation.iloc[:,1:]
t = validation["Survived"]

tensor_x = torch.tensor(x.values.tolist(), dtype = torch.float)
tensor_t = torch.tensor(t.values.tolist(), dtype = torch.float)

cnt_correct = 0
errors = []
for i in range(len(tensor_x)) :
    tensor_y = F(tensor_x[i])
    if (torch.eq(torch.argmax(tensor_y), tensor_t[i].type(torch.float))) :
        cnt_correct += 1
    else :
        errors.append(i+892)

print(cnt_correct / len(tensor_x))
print(errors)

0.937799043062201
[893, 915, 924, 925, 956, 981, 1019, 1024, 1032, 1057, 1073, 1080, 1086, 1088, 1106, 1109, 1134, 1141, 1165, 1185, 1198, 1200, 1201, 1251, 1268, 1299]

In [13]:
torch.save(F,"titanic.pt")